/*
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
*/

* {
    box-sizing: border-box;
}

/* Homepage preview cards */

.preview-card-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.preview-card {
    width: 15rem;
    background-color: #f0f0f0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: min-content;
}

.preview-card h3 {
    margin: 0;
}

.preview-card h4 {
    margin: 0;
    color: grey;
    font-size: 0.9rem;
    font-style: italic;
}

.preview-card img {
    width: 100%;
    object-fit: cover;
}

.preview-card a {
    display: inline-block;
    text-align: center;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    padding: 0.5rem;
}
